<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.khinthirisoe.bakingapp">

    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:name=".di.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <receiver android:name=".ui.BakingAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/baking_app_widget_info"/>
        </receiver>

        <activity android:name=".ui.BakingAppWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.steps.view.StepsActivity">
        </activity>
        <activity android:name=".ui.ingredients.IngredientsActivity">
        </activity>
        <activity android:name=".ui.baking.view.BakingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
                android:authorities="com.khinthirisoe.bakingapp"
                android:name="com.khinthirisoe.bakingapp.data.db.IngredientsProvider"
                android:exported="false"></provider>

        <service android:name=".ui.BakingWidgetRemoteViewsService"
                 android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>